* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template: minmax(100px, auto) 1fr minmax(70px, auto)/1fr;
  grid-template-areas: "header" "main" "footer";
}

.header {
  grid-area: header;
  padding: 15px;
  background: #3f3223;
  display: grid;
  grid-template: 1fr/1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
  align-items: center;
}
.header__logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: white;
  grid-column: 2/3;
}
.header__menu {
  display: grid;
  justify-items: end;
  grid-column: 3/4;
}
.header__list {
  display: grid;
  grid-auto-flow: column;
  justify-items: end;
}
.header__list li {
  margin: 0 0 0 30px;
}
@media (max-width: 992px) {
  .header__list {
    display: none;
  }
}
.header__link {
  color: white;
  font-size: 18px;
}
.header__burger {
  display: none;
}
@media (max-width: 992px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header__burger:before {
    content: "";
    background: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 0;
  }
  .header__burger:after {
    content: "";
    background: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
  }
  .header__burger span {
    content: "";
    background: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
  }
}

.main {
  background: #2d5559;
  padding: 30px 15px;
}
@media (min-width: 992px) {
  .main {
    display: grid;
    grid-template: 1fr/1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
    grid-area: main;
  }
}

.sidebar {
  background: #5ebe31;
  padding: 30px 15px;
  margin: 0 0 30px 0;
}
.sidebar__link {
  color: #ffffff;
  font-size: 20px;
}
.sidebar li {
  margin: 0 0 15px 0;
}
@media (min-width: 992px) {
  .sidebar {
    grid-column: 2/3;
    margin: 0;
  }
}

.content__gallery {
  display: grid;
  gap: 10px;
  margin: 0 0 30px 0;
}
@media (min-width: 992px) {
  .content {
    grid-column: 3/4;
    padding: 0 0 0 30px;
  }
}

.gallery__items {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.gallery__item {
  position: relative;
  padding: 0 0 85% 0;
}
@media (min-width: 767px) {
  .gallery__item_big {
    grid-column: span 2;
    grid-row: span 2;
  }
}
.gallery__item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.products__items {
  display: grid;
  column-gap: 30px;
  row-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 1fr;
}
.products__item {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: auto 1fr repeat(auto-fit, minmax(40px, auto)/1fr);
}
.products__image {
  position: relative;
  padding: 0 0 90% 0;
  margin: 0 0 20px 0;
}
.products__image > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.products__name {
  font-size: 24px;
  color: #ffffff;
  line-height: 30px;
  margin: 0 0 20px 0;
}
.products__button {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  background: #4d2d2d;
  padding: 0 20px;
  line-height: 40px;
  justify-self: start;
}

.footer {
  background: #841491;
  display: grid;
  grid-area: footer;
  padding: 15px;
  grid-template: 1fr/1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
  align-items: center;
}
@media (min-width: 550px) {
  .footer__copy {
    grid-column: 2/3;
  }
}
@media (max-width: 550px) {
  .footer__copy {
    order: 2;
    text-align: center;
  }
}
@media (min-width: 550px) {
  .footer__text {
    grid-column: 3/4;
    text-align: right;
  }
}
@media (max-width: 550px) {
  .footer__text {
    order: 1;
    text-align: center;
  }
}
@media (max-width: 550px) {
  .footer {
    grid-template: 1fr 1fr/1fr;
  }
}

/*# sourceMappingURL=style.css.map */
